@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: burlywood !important;
    color: var(--secondaryColor);
    position: fixed; 
    top: 0;
    left: 0;
    height: 7%;
    width: 100%;
    z-index: 1000; 
}

nav a{
    margin: 0 2rem;
    text-decoration: none;
    color: var(--textColor);
}


header .nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color:black;
    visibility: hidden;
    opacity: 0;
    font-size: 1.9rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
      opacity: 1;
      visibility: visible;
    }
    header nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      background-color: burlywood !important;
      transition: 1s;
      transform: translateY(-100%);
    }
    header .responsive_nav {
        transform: none;
      }
    
      nav .nav-close-btn{
        position: absolute;
        top: 1rem;
        right: 2rem;
      }
      nav a{
        font-size: 1.5rem;
      }
  }
